In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.metrics import mean_squared_error 

import random
sns.set_theme()

In [72]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [73]:
cd gdrive/MyDrive

[Errno 2] No such file or directory: 'gdrive/MyDrive'
/content/gdrive/MyDrive

In [74]:
df= pd.read_csv('cas_data.csv')
df.head()

,X,Y,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,...,train,tree,truck,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB
0,1406914.0,4915023.0,1,NaN,602800.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Fine,Null
1,1799023.0,5814728.0,2,NaN,528900.0,0.0,NaN,0.0,3.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null
2,1741193.0,5976099.0,3,55.0,506660.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Light rain,Null
3,1790288.0,5837387.0,4,NaN,526601.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Light rain,Null
4,1615675.0,5423627.0,5,NaN,584201.0,0.0,NaN,0.0,2.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null

In [75]:
df.replace("Null",np.NaN,inplace=True)
df.head()

,X,Y,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,...,train,tree,truck,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB
0,1406914.0,4915023.0,1,NaN,602800.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Fine,NaN
1,1799023.0,5814728.0,2,NaN,528900.0,0.0,NaN,0.0,3.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,NaN
2,1741193.0,5976099.0,3,55.0,506660.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Light rain,NaN
3,1790288.0,5837387.0,4,NaN,526601.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Light rain,NaN
4,1615675.0,5423627.0,5,NaN,584201.0,0.0,NaN,0.0,2.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,NaN

In [76]:
df.drop(["OBJECTID","advisorySpeed","crashRoadSideRoad","tlaId","meshblockId","intersection","areaUnitID","temporarySpeedLimit","pedestrian","holiday","weatherB"],axis=1,inplace=True)
df.drop_duplicates(inplace=True)

In [77]:
df.dropna(subset=['crashSeverity'],inplace=True)

In [78]:
df.shape

(758006, 61)

In [79]:
df['fatalCount'] = df.apply(
    lambda row: 1 if np.isnan(row['fatalCount']) and row['crashSeverity']=='Fatal Crash' else row['fatalCount'],
    axis=1
)
df['fatalCount'].fillna(0,inplace=True)

In [80]:
df['seriousInjuryCount'] = df.apply(
    lambda row: 1 if np.isnan(row['seriousInjuryCount']) and row['crashSeverity']=='Serious Crash' else row['seriousInjuryCount'],
    axis=1
)
df['seriousInjuryCount'].fillna(0,inplace=True)

In [81]:
df['minorInjuryCount'] = df.apply(
    lambda row: 1 if np.isnan(row['minorInjuryCount']) and row['crashSeverity']=='Minor Crash' else row['minorInjuryCount'],
    axis=1
)
df['minorInjuryCount'].fillna(0,inplace=True)

In [82]:
df['bicycle'].fillna(0,inplace=True)
df['bus'].fillna(0,inplace=True)
df['carStationWagon'].fillna(0,inplace=True)
df['moped'].fillna(0,inplace=True)
df['motorcycle'].fillna(0,inplace=True)
df['otherVehicleType'].fillna(0,inplace=True)
df['schoolBus'].fillna(0,inplace=True)
df['suv'].fillna(0,inplace=True)
df['taxi'].fillna(0,inplace=True)
df['truck'].fillna(0,inplace=True)
df['unknownVehicleType'].fillna(0,inplace=True)
df['vanOrUtility'].fillna(0,inplace=True)
df['bridge'].fillna(0,inplace=True)
df['cliffBank'].fillna(0,inplace=True)
df['debris'].fillna(0,inplace=True)
df['ditch'].fillna(0,inplace=True)
df['fence'].fillna(0,inplace=True)
df['truck'].fillna(0,inplace=True)
df['guardRail'].fillna(0,inplace=True)
df['houseOrBuilding'].fillna(0,inplace=True)
df['kerb'].fillna(0,inplace=True)
df['NumberOfLanes'].fillna(1,inplace=True)
df['objectThrownOrDropped'].fillna(0,inplace=True)
df['otherObject'].fillna(0,inplace=True)
df['overBank'].fillna(0,inplace=True)
df['parkedVehicle'].fillna(0,inplace=True)
df['phoneBoxEtc'].fillna(0,inplace=True)
df['postOrPole'].fillna(0,inplace=True)
df['roadworks'].fillna(0,inplace=True)
df['slipOrFlood'].fillna(0,inplace=True)
df['speedLimit'].fillna(0,inplace=True)
df['strayAnimal'].fillna(0,inplace=True)
df['train'].fillna(0,inplace=True)
df['tree'].fillna(0,inplace=True)
df['vehicle'].fillna(0,inplace=True)
df['trafficIsland'].fillna(0,inplace=True)
df['trafficSign'].fillna(0,inplace=True)
df['waterRiver'].fillna(0,inplace=True)

In [83]:
df['crashDirectionDescription'].fillna('None',inplace=True)
df['crashLocation2'].fillna('None',inplace=True)
df['directionRoleDescription'].fillna('None',inplace=True)
df['flatHill'].fillna('None',inplace=True)
df['region'].fillna('None',inplace=True)
df['roadLane'].fillna('None',inplace=True)
df['roadSurface'].fillna('None',inplace=True)
df['streetLight'].fillna('None',inplace=True)
df['tlaName'].fillna('None',inplace=True)
df['weatherA'].fillna('None',inplace=True)

In [84]:
np.random.seed(108)
df['claimAmount'] = df.apply(lambda row: (row['minorInjuryCount']*np.random.randint(2000000,5000000))+(row['fatalCount']*250000)+(row['seriousInjuryCount']*np.random.randint(5000000,10000000)), axis = 1)

In [85]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['crashFinancialYear'] = le.fit_transform(df['crashFinancialYear'])

In [86]:
#1 for injury and 0 for non-injury
df['injury'] = df.apply(
    lambda row: 0 if row['crashSeverity']=='Non-Injury Crash' else 1,
    axis=1
)

In [87]:
df['light'] = le.fit_transform(df['light'])

In [88]:
df['roadLane'] = le.fit_transform(df['roadLane'])

In [89]:
df['crashSHDescription'] = le.fit_transform(df['crashSHDescription'])

In [90]:
df['flatHill'] = le.fit_transform(df['flatHill'])

In [91]:
df['weatherA'] = le.fit_transform(df['weatherA'])

In [92]:
df['roadCharacter'] = le.fit_transform(df['roadCharacter'])

In [93]:
df['trafficControl'] = le.fit_transform(df['trafficControl'])

In [94]:
df['urban'] = le.fit_transform(df['urban'])

In [95]:
df['injury'].value_counts()

0    533356
1    224650
Name: injury, dtype: int64

In [96]:
df1 = df

In [97]:
df = df[['bicycle', 'bridge', 'bus', 'carStationWagon', 'cliffBank', 'crashFinancialYear', 'debris', 'ditch', 'fence', 'flatHill', 'guardRail', 'houseOrBuilding', 'kerb', 'light', 'moped', 'motorcycle', 'NumberOfLanes', 'objectThrownOrDropped', 'otherObject', 'otherVehicleType', 'overBank', 'parkedVehicle', 'roadworks', 'schoolBus', 'slipOrFlood', 'speedLimit', 'strayAnimal', 'suv', 'taxi', 'trafficSign', 'trafficControl', 'train', 'tree', 'truck', 'urban', 'vehicle', 'injury']]

In [98]:
np.random.seed(108)
mask = np.random.rand(len(df)) <= 0.8
df_train = df[mask]
df_test = df[~mask]

In [99]:
df.shape

(758006, 37)

In [100]:
df_train.shape

(606662, 37)

In [101]:
df_test.shape

(151344, 37)

In [102]:
x = df.iloc[:,:-1]
x.shape

(758006, 36)

In [103]:
y = df.iloc[:, -1:]
y = np.ravel(y)

In [104]:
y.shape

(758006,)

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [106]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [107]:
y_train.shape

(682205,)

# Logistic regression

In [108]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [109]:
y_pred = classifier.predict(x_test)

In [110]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
 
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[51685  1488]
 [18495  4133]]

In [111]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.7363755095579214

In [112]:
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.metrics import classification_report

In [113]:
print(classification_report(y_test, y_pred, target_names=["injury", "non-injury"]))

              precision    recall  f1-score   support

      injury       0.74      0.97      0.84     53173
  non-injury       0.74      0.18      0.29     22628

    accuracy                           0.74     75801
   macro avg       0.74      0.58      0.57     75801
weighted avg       0.74      0.74      0.68     75801

# Random Forest

In [114]:
#rfc=RandomForestClassifier(random_state=42)

In [115]:
"""param_grid = { 
    'n_estimators': [50,100,150,200],
    'max_features': ['sqrt','log2'],
    'max_depth' : [13,14,15,16],
    'criterion' :['gini','entropy']
}"""

"param_grid = { \n    'n_estimators': [50,100,150,200],\n    'max_features': ['sqrt','log2'],\n    'max_depth' : [13,14,15,16],\n    'criterion' :['gini','entropy']\n}"

In [116]:
#CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
#CV_rfc.fit(x_train,y_train)

In [117]:
#CV_rfc.best_params_

In [118]:
rfc1=RandomForestClassifier(random_state=42, max_features='sqrt', n_estimators= 150, max_depth=13, criterion='gini')

In [119]:
rfc1.fit(x_train, y_train)

RandomForestClassifier(max_depth=13, max_features='sqrt', n_estimators=150,
                       random_state=42)

In [120]:
dataframe = pd.DataFrame({'columns': x_train.columns,
                          'importance': rfc1.feature_importances_})

dataframe.sort_values('importance', ascending=False)

                  columns  importance
0                 bicycle    0.236324
15             motorcycle    0.230877
3         carStationWagon    0.140008
25             speedLimit    0.059927
14                  moped    0.052439
34                  urban    0.049076
5      crashFinancialYear    0.041703
21          parkedVehicle    0.033814
16          NumberOfLanes    0.023938
32                   tree    0.018611
13                  light    0.015884
4               cliffBank    0.014982
33                  truck    0.012807
30         trafficControl    0.012071
8                   fence    0.012047
27                    suv    0.011097
9                flatHill    0.009504
7                   ditch    0.003817
20               overBank    0.003628
10              guardRail    0.003346
29            trafficSign    0.002626
2                     bus    0.001824
11        houseOrBuilding    0.001765
12                   kerb    0.001348
18            otherObject    0.001109
35                vehicle    0.001083
1                  bridge    0.000911
6                  debris    0.000866
26            strayAnimal    0.000515
28                   taxi    0.000512
19       otherVehicleType    0.000509
31                  train    0.000275
17  objectThrownOrDropped    0.000228
24            slipOrFlood    0.000200
22              roadworks    0.000190
23              schoolBus    0.000138

In [121]:
from sklearn.metrics import confusion_matrix

In [122]:
y_pred = rfc1.predict(x_test)
cm = confusion_matrix(y_test,y_pred)

In [123]:
cm

array([[51728,  1445],
       [18183,  4445]])

In [124]:
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.metrics import classification_report

In [125]:
print("precision_score: "+ str(precision_score(y_test,y_pred,average="micro")))
print("recall_score: "+ str(recall_score(y_test,y_pred,average="micro")))
print("f1_score: "+ str(f1_score(y_test,y_pred,average="micro")))

precision_score: 0.7410588250814633
recall_score: 0.7410588250814633
f1_score: 0.7410588250814633

In [126]:
print(classification_report(y_test, y_pred, target_names=["injury", "non-injury"]))

              precision    recall  f1-score   support

      injury       0.74      0.97      0.84     53173
  non-injury       0.75      0.20      0.31     22628

    accuracy                           0.74     75801
   macro avg       0.75      0.58      0.58     75801
weighted avg       0.74      0.74      0.68     75801

In [127]:
print("precision_score: "+ str(precision_score(y_test,y_pred,average="macro")))
print("recall_score: "+ str(recall_score(y_test,y_pred,average="macro")))
print("f1_score: "+ str(f1_score(y_test,y_pred,average="macro")))

precision_score: 0.7472905522201778
recall_score: 0.5846312975897935
f1_score: 0.576132305013964